body /* (0,0,1) */ {
  font: 400 15px Tahoma, sans-serif;
  color: black;
  background-color: #e2d7d5;
  display: flex;
  flex-direction: column;
	margin: 10px;
}

section /*(0,0,1)*/ {
  color: black;
  background: rgba(255, 255, 255, 0.945);
  padding: 5px;
  margin: 5px;
  display:block;
}

nav, footer{                /*(0,0,1)*/
  color: white;
  background-color: #dd0000;
  padding:5px;
  align-content: center;
}

footer table {
  margin-left:auto; 
  margin-right:auto;
}

h1 /* (0,0,1) */ {
  background-color:#dd0000; 
  color: white;
  text-transform: uppercase;
  padding: 60px 25px;
  text-align: center;     
}

h2 /* (0,0,1) */ {
  font-size: 1.5em;
  color:black;
  background-color: white;
  padding:10px;
  margin: 10px;
}
h3 /* (0,0,1) */ {
  background-color:#dd0000; 
  color: white;
  font-size: 1.17em;
  padding:6px;
  margin: 6px;
}
h4 /* (0,0,1) */ {
  font-size: 1em;
  padding:4px;
  margin: 4px;
}
h5 /* (0,0,1) */ {
  font-size: 0.83em;
  padding:2px;
  margin: 2px;
}
h6 /* (0,0,1) */ {  
  font-size: 0.67em;
}

p::first-letter {       /*(0,0,2)*/
  font-size:1.5em;
}
p {                     /*(0,0,2)*/
  /*font-family: 'Times New Roman', Times, serif; */
  font-size: 1em;
  background-color: #ff000057;
  padding: 1em;
  color:black;
}

nav{                    /*(0,0,1)*/
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

a{                      /*(0,0,1)*/
  color: black;
  background: white;  
  margin: 1px;
  padding:3px;
  font-size: 1em;
  font-family: sans-serif;
}

a:hover    {            /*(0,1,1)*/
  color: white;
  background-color: #c70000;
  text-decoration-line:underline;
  text-decoration-style: dotted;
}

table{                  /*(0,0,1)*/
  background: white;
  color: black;
  margin:5px;
  max-width: 93%;
  justify-self: left;
  box-shadow: 0px 3px 3px 0px #ff0000;
}

table th, table td{     /*(0,0,2)*/
  color: black;
  background-color: white;
  padding: 5px;
  margin: 3px;
  text-align: left;
  border: 1px solid #ff0000;
}

li {                    /*(0,0,1)*/
  max-width: 93%;
}

ul li, ol li{           /*(0,0,2)*/
  padding: 5px;
  margin: 3px 0px 3px 3px;
  color: black;
  background-color: rgb(245, 245, 245);
}

img.imagenCarta {                   /*(0,0,1)*/
  justify-self: center;
  max-width: 150px;
  max-height: 150px;
  margin: 5px;
}

video {                   /*(0,0,1)*/
  justify-self: center;
  max-width: 90%;
  margin: 10px;
}

div#map{
  width: 100%;
  height: 400px;
}


#resumenPedido {
  max-width: 98%;
  flex-direction: column;
  flex-wrap: nowrap;
  overflow-x: hidden;
  margin-left: auto;
  margin-right: auto;
  padding: 6px;
  background: white;
  color: black;
  border: 3px solid #ff0000;
}

#resumenPedido h4 {
  background-color: #ff0000;
  color: white;
}

#resumenPedido div {
  display: flex;
  flex-direction: column;
}

#resumenPedido .productoResumen {
  display: grid;
  margin: 2px;
  grid-auto-flow: column;
  grid-template-rows: 100%;
  grid-template-columns: 50% 15% 15% 20%;
  border: 1px solid lightgray;
  padding: 3px;
}

#resumenPedido .resumenIngredientes {
  text-align: right;
  margin: 4px;
  padding: 2px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

#resumenPedido .resumenIngrediente {
  font-size: 0.7em;
  color: gray;
  background: white;
}

#resumenPedido .menuDivisas {
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: 100%;
  grid-template-columns: 90% 10%;
  margin: 3px;
  padding: 3px;
}

#menuDisplay table {
  max-width: 100%;
}

#menuDisplay table td, #menuDisplay table th {
  padding: 0px;
  margin: 0px;
  text-align: center;
}

#menuDisplay td button, #menuDisplay th button {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

#menuDisplay td + *, #menuDisplay th + * {
  display: table-cell;
  margin: 0px;
  padding: 0px;
}

#menuDisplay table tr p.ingredientesCarta {
  max-width: 200px;
}

#menuDisplay section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#menuDisplay section h3 {
  width:100%;
}


button.guardar {
  background: lightgray;
  color: black;
  align-self: center;
}

button.continuar {
  background: red;
  color: white;
  align-self: end;
}

.domicilio, .recogida, .selectorTipoPedido{
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: 100%;
  grid-template-columns: 30% 30% 30%;
  margin: 4px;
  padding: 4px;
}
.domicilio span, .recogida span {
  margin: 4px;
  padding: 4px;
}

input#direccion {
  width: 40%;
}

#controlesRealizarPedido {
  display: flex;
  justify-content: space-between;
}

#pedir {
  width: 90%;
  height: 40px;
  font-size: 20px;
  font-weight: bolder;
  background-color: white;
  color: red;
  display: block;
  box-shadow: none;
  border: 3px solid red;
  margin: 10px auto 10px auto;
}

#file {
  display: none;
}